* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
    
}

body {
    margin: 0;
}

.bigcontainer{
    display: flex;
}

.leftnavbar{
    width: 18%;
    background-color: rgb(47, 45, 45);
}

.rightmaincontent{
    width: 82%;
    background-color: gray;
}

.leftnavbar,.rightmaincontent{
    min-height: 100vh;
    height: auto;
    padding: 10px;
}